/**
 * Style sheet for Primality Checker.
 *
 * @author Adam Heins
 */

body {
  background-color: #f6f6f6;
}

.panel {
  display: inline-block;
  margin-top: 20px;
}

#button-wrapper {
  padding-left: 7.5px;
}

#message-wrapper {
  padding-right: 7.5px;
}

#message {
  cursor: default;
  background-color: white;
}

#title {
  font-size: 3rem;
  margin-bottom: 5px;
  color: #666;
}

#description {
  margin-bottom: 15px;
  color: #666;
}

#check {
  width: 100%;
  background-color: #39b1a4;
  color: white;
}

.container {
  box-sizing: border-box;
  width: 400px;
  margin: auto;
  margin-top: 20px;
}

@media (max-width:400px) {
  .container {
    width: 100%;
  }
}

.is-prime {
  background-color: #d6ffad;
  border-color: #b4ff69;
}

.is-prime:focus {
  border-color: #b4ff69;
}

.not-prime {
  background-color: #ffadad;
  border-color: #fc6f6f;
}

.not-prime:focus {
  border-color: #fc6f6f;
}
